/*
// Project Name: Final Blog
// Project Version: 2.0
// Module Name: Final Blog
// Module Version: 2.0
// Programmer Name: Justin Gewecke
// Date: 8/8/2020
// Description: This is the final version of the project
// References: https://www.w3schools.com/php/php_mysql_insert.asp and https://www.w3schools.com/css/css_website_layout.asp
// https://www.w3schools.com/sql/sql_delete.asp
*/


.settings input {
	margin-right: 10px;
}

.settings label {
	margin-right: 5px;
}


.register {
	display: block;
}

.comment {
	font-size: 16px;
	text-indent: 20px;
}

.text {
	margin-bottom: 40px;
}

.info {
	display: flex;
	line-height: 0px;
}

/*	w3schools layout */
/* The navbar container */
.topnav {
	overflow: hidden;
	background-color: #333;
}
  
.header h1 {
	font-size: 35px;
}

/* Navbar links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
/* Links - change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
	float: left;
	width: 75%;
}
  
/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
  }
  
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
		width: 100%;
		padding: 0;
	}
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

* {
	box-sizing: border-box;
}
  
body {
	font-family: 'Times New Roman', Times, serif;
	padding: 10px;
	background: #f1f1f1;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.search.element {
	margin-bottom: 10px;
}